-- Generated by Oracle SQL Developer Data Modeler 4.1.1.888
--   at:        2015-07-29 15:42:26 AST
--   site:      Oracle Database 12c
--   type:      Oracle Database 12c




CREATE TABLE College
  (
    id           VARCHAR2 (1 CHAR) NOT NULL ,
    name         VARCHAR2 (50 CHAR) ,
    abbreviation VARCHAR2 (6 CHAR)
  ) ;
ALTER TABLE College ADD CONSTRAINT College_PK PRIMARY KEY ( id ) ;


CREATE TABLE Course
  (
    "number"   NUMBER NOT NULL ,
    title      VARCHAR2 (50 CHAR) ,
    "level"    NUMBER ,
    Major_Code VARCHAR2 (5 CHAR) NOT NULL
  ) ;
ALTER TABLE Course ADD CONSTRAINT Course_PK PRIMARY KEY ( "number" ) ;


CREATE TABLE Department
  (
    id           VARCHAR2 (1 CHAR) NOT NULL ,
    name         VARCHAR2 (50 CHAR) ,
    abbreviation VARCHAR2 (5 CHAR) ,
    College_id   VARCHAR2 (1 CHAR) NOT NULL
  ) ;
ALTER TABLE Department ADD CONSTRAINT Department_PK PRIMARY KEY ( id ) ;


CREATE TABLE Enrollment
  (
    registration_date        DATE NOT NULL ,
    Student_id               NUMBER NOT NULL ,
    Section_reference_number VARCHAR2 (6 CHAR) NOT NULL
  ) ;
ALTER TABLE Enrollment ADD CONSTRAINT Enrollment_PK PRIMARY KEY ( Section_reference_number, Student_id ) ;


CREATE TABLE Grade_Cutoffs
  (
    Letter_grade             VARCHAR2 (2 CHAR) ,
    value                    NUMBER ,
    Section_reference_number VARCHAR2 (6 CHAR) NOT NULL
  ) ;


CREATE TABLE Grading_Component
  (
    name                     VARCHAR2 (15 CHAR) NOT NULL ,
    maximum_points           VARCHAR2 (3 CHAR) ,
    weight                   NUMBER ,
    Section_reference_number VARCHAR2 (6 CHAR) NOT NULL ,
    id                       NUMBER NOT NULL
  ) ;
ALTER TABLE Grading_Component ADD CONSTRAINT Grading_Component_PK PRIMARY KEY ( id ) ;


CREATE TABLE Instructor
  (
    id         NUMBER NOT NULL ,
    first_name VARCHAR2 (15 CHAR) ,
    last_name  VARCHAR2 (15 CHAR)
  ) ;
ALTER TABLE Instructor ADD CONSTRAINT Instructor_PK PRIMARY KEY ( id ) ;


CREATE TABLE Major
  (
    Name          VARCHAR2 (20 CHAR) ,
    Code          VARCHAR2 (5 CHAR) NOT NULL ,
    Department_id VARCHAR2 (1 CHAR) NOT NULL
  ) ;
ALTER TABLE Major ADD CONSTRAINT Major_PK PRIMARY KEY ( Code ) ;


CREATE TABLE Point
  (
    earned_points         NUMBER NOT NULL ,
    Enrollment_Student_id NUMBER NOT NULL ,
    Enroll_Sec_ref_num    VARCHAR2 (6 CHAR) NOT NULL ,
    Grading_Component_id  NUMBER NOT NULL
  ) ;
ALTER TABLE Point ADD CONSTRAINT Point_PK PRIMARY KEY ( Grading_Component_id, Enroll_Sec_ref_num, Enrollment_Student_id ) ;


CREATE TABLE Section
  (
    reference_number VARCHAR2 (6 CHAR) NOT NULL ,
    section_number   NUMBER ,
    Instructor_id    NUMBER NOT NULL ,
    Course_number    NUMBER NOT NULL
  ) ;
ALTER TABLE Section ADD CONSTRAINT Section_PK PRIMARY KEY ( reference_number ) ;


CREATE TABLE Student
  (
    id         NUMBER NOT NULL ,
    first_name VARCHAR2 (15 CHAR) ,
    last_name  VARCHAR2 (15 CHAR) ,
    Major_Code VARCHAR2 (5 CHAR) NOT NULL
  ) ;
ALTER TABLE Student ADD CONSTRAINT Student_PK PRIMARY KEY ( id ) ;


ALTER TABLE Course ADD CONSTRAINT Course_Major_FK FOREIGN KEY ( Major_Code ) REFERENCES Major ( Code ) ;

ALTER TABLE Department ADD CONSTRAINT Department_College_FK FOREIGN KEY ( College_id ) REFERENCES College ( id ) ;

ALTER TABLE Enrollment ADD CONSTRAINT Enrollment_Section_FK FOREIGN KEY ( Section_reference_number ) REFERENCES Section ( reference_number ) ;

ALTER TABLE Enrollment ADD CONSTRAINT Enrollment_Student_FK FOREIGN KEY ( Student_id ) REFERENCES Student ( id ) ;

ALTER TABLE Grade_Cutoffs ADD CONSTRAINT Grade_Cutoffs_Section_FK FOREIGN KEY ( Section_reference_number ) REFERENCES Section ( reference_number ) ;

ALTER TABLE Grading_Component ADD CONSTRAINT Grading_Component_Section_FK FOREIGN KEY ( Section_reference_number ) REFERENCES Section ( reference_number ) ;

ALTER TABLE Major ADD CONSTRAINT Major_Department_FK FOREIGN KEY ( Department_id ) REFERENCES Department ( id ) ;

ALTER TABLE Point ADD CONSTRAINT Point_Enrollment_FK FOREIGN KEY ( Enroll_Sec_ref_num, Enrollment_Student_id ) REFERENCES Enrollment ( Section_reference_number, Student_id ) ;

ALTER TABLE Point ADD CONSTRAINT Point_Grading_Comp_FK FOREIGN KEY ( Grading_Component_id ) REFERENCES Grading_Component ( id ) ;

ALTER TABLE Section ADD CONSTRAINT Section_Course_FK FOREIGN KEY ( Course_number ) REFERENCES Course ( "number" ) ;

ALTER TABLE Section ADD CONSTRAINT Section_Instructor_FK FOREIGN KEY ( Instructor_id ) REFERENCES Instructor ( id ) ;

ALTER TABLE Student ADD CONSTRAINT Student_Major_FK FOREIGN KEY ( Major_Code ) REFERENCES Major ( Code ) ;


-- Oracle SQL Developer Data Modeler Summary Report: 
-- 
-- CREATE TABLE                            11
-- CREATE INDEX                             0
-- ALTER TABLE                             22
-- CREATE VIEW                              0
-- ALTER VIEW                               0
-- CREATE PACKAGE                           0
-- CREATE PACKAGE BODY                      0
-- CREATE PROCEDURE                         0
-- CREATE FUNCTION                          0
-- CREATE TRIGGER                           0
-- ALTER TRIGGER                            0
-- CREATE COLLECTION TYPE                   0
-- CREATE STRUCTURED TYPE                   0
-- CREATE STRUCTURED TYPE BODY              0
-- CREATE CLUSTER                           0
-- CREATE CONTEXT                           0
-- CREATE DATABASE                          0
-- CREATE DIMENSION                         0
-- CREATE DIRECTORY                         0
-- CREATE DISK GROUP                        0
-- CREATE ROLE                              0
-- CREATE ROLLBACK SEGMENT                  0
-- CREATE SEQUENCE                          0
-- CREATE MATERIALIZED VIEW                 0
-- CREATE SYNONYM                           0
-- CREATE TABLESPACE                        0
-- CREATE USER                              0
-- 
-- DROP TABLESPACE                          0
-- DROP DATABASE                            0
-- 
-- REDACTION POLICY                         0
-- TSDP POLICY                              0
-- 
-- ORDS DROP SCHEMA                         0
-- ORDS ENABLE SCHEMA                       0
-- ORDS ENABLE OBJECT                       0
-- 
-- ERRORS                                   0
-- WARNINGS                                 0
